
<div *ngIf="ldMenu">
    <h2><span>Ld Menu</span> {{ldMenu.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span>Name</span></dt>
        <dd>
            <span>{{ldMenu.name}}</span>
        </dd>
        <dt><span>Url</span></dt>
        <dd>
            <span>{{ldMenu.url}}</span>
        </dd>
        <dt><span>Pid</span></dt>
        <dd>
            <span>{{ldMenu.pid}}</span>
        </dd>
        <dt><span>Order</span></dt>
        <dd>
            <span>{{ldMenu.order}}</span>
        </dd>
        <dt><span>Is Show</span></dt>
        <dd>
            <span>{{ldMenu.isShow}}</span>
        </dd>
        <dt><span>Is Del</span></dt>
        <dd>
            <span>{{ldMenu.isDel}}</span>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'ld-menu-my-suffix/'+ ldMenu.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span> Edit</span>
    </button>
</div>
