<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myLdMenuLabel">Create or edit a Ld Menu</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!ldMenu.id">
            <label for="id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="ldMenu.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="ldMenu.name" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_url">Url</label>
            <input type="text" class="form-control" name="url" id="field_url"
                [(ngModel)]="ldMenu.url" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_pid">Pid</label>
            <input type="number" class="form-control" name="pid" id="field_pid"
                [(ngModel)]="ldMenu.pid" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_order">Order</label>
            <input type="number" class="form-control" name="order" id="field_order"
                [(ngModel)]="ldMenu.order" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isShow">Is Show</label>
            <input type="number" class="form-control" name="isShow" id="field_isShow"
                [(ngModel)]="ldMenu.isShow" />
        </div>
        <div class="form-group">
            <label class="form-control-label" for="field_isDel">Is Del</label>
            <input type="number" class="form-control" name="isDel" id="field_isDel"
                [(ngModel)]="ldMenu.isDel" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span>Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span>Save</span>
        </button>
    </div>
</form>
