<div>
    <h2>
        <span>Ld Menus</span>
        <button class="btn btn-primary float-right jh-create-entity create-ld-menu-my-suffix" [routerLink]="['/', { outlets: { popup: ['ld-menu-my-suffix-new'] } }]">
            <span class="fa fa-plus"></span>
            <span >
            Create new Ld Menu
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="ldMenus">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Name</span></th>
            <th><span>Url</span></th>
            <th><span>Pid</span></th>
            <th><span>Order</span></th>
            <th><span>Is Show</span></th>
            <th><span>Is Del</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let ldMenu of ldMenus ;trackBy: trackId">
                <td><a [routerLink]="['../ld-menu-my-suffix', ldMenu.id ]">{{ldMenu.id}}</a></td>
                <td>{{ldMenu.name}}</td>
                <td>{{ldMenu.url}}</td>
                <td>{{ldMenu.pid}}</td>
                <td>{{ldMenu.order}}</td>
                <td>{{ldMenu.isShow}}</td>
                <td>{{ldMenu.isDel}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../ld-menu-my-suffix', ldMenu.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ld-menu-my-suffix/'+ ldMenu.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'ld-menu-my-suffix/'+ ldMenu.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
